<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tmdt\Search\Api\PurchaseHistoryInterface" type="Tmdt\Search\Model\PurchaseHistoryManagement" />
    <preference for="Tmdt\Search\Api\ProductSearchInterface" type="Tmdt\Search\Model\ProductSearchManagement" />
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="tmdt_search_regenerate_keywords" xsi:type="object">Tmdt\Search\Console\Command\RegenerateProductKeywordsCommand</item>
            </argument>
        </arguments>
    </type>
</config>
