<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tmdt\Catalog\Api\ProductManagementInterface" type="Tmdt\Catalog\Model\ProductManagement" />
    <preference for="Tmdt\Catalog\Api\InventoryManagementInterface" type="Tmdt\Catalog\Model\InventoryManagement" />
    <preference for="Tmdt\Catalog\Api\OrderManagementInterface" type="Tmdt\Catalog\Model\OrderManagement" />
    <preference for="Tmdt\Catalog\Api\RatesInterface" type="Tmdt\Catalog\Model\Rates" />
    <preference for="Tmdt\Catalog\Api\RecurringInterface" type="Tmdt\Catalog\Model\Recurring" />
    <preference for="Tmdt\Catalog\Api\PromotionManagementInterface" type="Tmdt\Catalog\Model\PromotionManagement" />
    <preference for="Tmdt\Catalog\Api\RfqManagementInterface" type="Tmdt\Catalog\Model\RfqManagement" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="tmdt_recurring_process" xsi:type="object">Tmdt\Catalog\Console\Command\ProcessRecurringOrders</item>
            </argument>
        </arguments>
    </type>
</config>
