<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tmdt\Catalog\Api\ProductManagementInterface" type="Tmdt\Catalog\Model\ProductManagement" />
    <preference for="Tmdt\Catalog\Api\InventoryManagementInterface" type="Tmdt\Catalog\Model\InventoryManagement" />
</config>
