<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Tmdt_Registration::registration" title="Dang ky doanh nghiep" sortOrder="110" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>