<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <admin>
            <security>
                <session_lifetime>86400</session_lifetime>
            </security>
        </admin>
        <web>
            <cookie>
                <cookie_lifetime>604800</cookie_lifetime>
            </cookie>
        </web>
        <oauth>
            <access_token_lifetime>
                <customer>720</customer>
            </access_token_lifetime>
        </oauth>
    </default>
</config>
