<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tmdt\Registration\Api\LoginInterface" type="Tmdt\Registration\Model\LoginManagement" />
    <preference for="Tmdt\Registration\Api\GoogleLoginInterface" type="Tmdt\Registration\Model\GoogleLoginManagement" />
    <preference for="Tmdt\Registration\Api\RegisterInterface" type="Tmdt\Registration\Model\RegisterManagement" />
    <preference for="Tmdt\Registration\Api\ForgotPasswordRequestOtpInterface" type="Tmdt\Registration\Model\ForgotPasswordRequestOtpManagement" />
    <preference for="Tmdt\Registration\Api\ForgotPasswordResetInterface" type="Tmdt\Registration\Model\ForgotPasswordResetManagement" />
    <preference for="Tmdt\Registration\Api\ProfileUpdateInterface" type="Tmdt\Registration\Model\ProfileUpdateManagement" />
</config>