# Theme folder on host machine mounted into Magento container
MAGENTO_THEME_DIR=/Users/socnhi/Sites/magento/src/app/design/frontend/MyCompany/MyTheme

# Magento PHP-FPM container name used to run bin/magento commands
MAGENTO_PHP_CONTAINER=magento-phpfpm-1

# Store view locales to deploy static content for
MAGENTO_LOCALES=en_US vi_VN
